<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About me</a>
      <a class="sidebar-nav-item{% if page.url == '/projects/' %} active{% endif %}" href="/projects/">Projects</a>
      <a class="sidebar-nav-item{% if page.url == '/blog/' %} active{% endif %}" href="/blog/">Blog</a>
      <a class="sidebar-nav-item{% if page.url == '/contact/' %} active{% endif %}" href="/contact/">Contact</a>
    </nav>

    <nav class="social">
      <a href="https://twitter.com/linkesch"><span class="fa fa-twitter"></span></a>
      <a href="https://www.facebook.com/linkesch"><span class="fa fa-facebook"></span></a>
      <a href="https://github.com/orthes"><span class="fa fa-github"></span></a>
      <a href="https://www.linkedin.com/in/linkesch"><span class="fa fa-linkedin"></span></a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
